<div class="page-header" data-parallax="true" style="background-image:url('./assets/img/photo-1472289065668-ce650ac443d2.jfif')">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1 class="presentation-title">EduSafe</h1>
            <h3>Getting students prepared for anything and everything</h3>
            <br />
            <br />
            <br />
            <button type="button" class="btn btn-outline-neutral btn-round" (click)="onClick('main')">Learn More</button>
            <a href="#/signup">
                <button type="button" class="btn btn-outline-neutral btn-round">Get Started</button>
            </a>
        </div>
    </div>
</div>
<div class="main" id = "main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">You never know what will strike next</h2>
                <h5 class="description">Whether it's a natural disater, an active shooter, or even a simple lab fire, there are a multitude of threats that could befall our children everyday. Not prioritizing safety is a huge mistake we take when it comes to preserving the next generation.</h5>
                <br>
                <a href="https://youtu.be/NrYQiB2ujpU" class="btn btn-warning btn-round">See Details</a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-warning">
                        <i class="nc-icon nc-book-bookmark"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Engaging Courses</h4>
                        <p>Learn about any hazard that can happen to you and your friends and family through our extensive material</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-warning">
                        <i class="nc-icon nc-app"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">AR Interaction</h4>
                        <p>View tools and equipment through augmented reality to visualize what they are like when when you aren't near them</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-warning">
                        <i class="nc-icon nc-world-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Learn From The Past </h4>
                        <p>Use our interactive map to explore terrible past incidents that we prepare you to handle and reflect on what you would have done</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-warning">
                        <i class="nc-icon nc-globe"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Stay Updated</h4>
                        <p>Read the latest news about school and safety in an organized, beautiful way, without having to filter the results yourself</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Meet the team</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Karthik Karuppiah</h4>
                                <h6 class="card-category">Team Role</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Enter information about team member right here
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Arya Agiwal</h4>
                                <h6 class="card-category">Team Role</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Enter information about team member right here
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Vrishank Viswanath</h4>
                                <h6 class="card-category">Team Role</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Enter information about team member right here
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Zach Vazhekhatt</h4>
                                <h6 class="card-category">Team Role</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Enter information about team member right here
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div> -->
