<div class="wrapper" style="background-color: rgb(56, 49, 45);">
    <div class="page-header page-header-xs" data-parallax="true" 
    style="background-color: rgb(230, 153, 134); height:fit-content">
        <div class= "container">
          <div class="motto text-center">
            <h1><b>Fire Safety</b></h1>
          </div>
        </div>
    </div>
    <div class="section profile-content" style="background-color: rgb(43, 39, 37);">
        <div class="container">
            <div class="owner">
                <br>
                <img src="https://images.unsplash.com/photo-1569436078135-61753b84e3e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=676&q=80" alt="Rounded Image" class="img-rounded img-responsive" style="width: 30%; height: auto">
                <div class="name">
                    <br>
                    <h4 class="title" style="color: whitesmoke"><b>Using a Fire Extinguisher</b></h4>
                    <h6 class="description" style="color: whitesmoke"></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p style="color: whitesmoke; text-align: justify;
                    text-justify: inter-word;">What’s the first thing you think of when you think of fire extinguisher steps of operation? Take a moment and give it some thought.

                        Was your first step something like “determine if I should use a fire extinguisher or get to safety instead?” If not, you overlooked a very important decision point.
                        
                        If you’re involved in a fire, there may be times when it’s best for you to get to safety instead of trying to fight the fire. In fact, there are times when fighting the fire may increase the danger to yourself and to others in the area.</p>
                    <br />
                </div>
            </div>
            <br/>
            <div class="d-flex justify-content-center">
                <ngb-pagination [collectionSize]="870" [(page)]="page1" [maxSize]="5" [rotate]="true"></ngb-pagination>
            </div>
            <br>
            <ngb-progressbar type="neutral" [value]="62" [striped]="true" [animated]="true"><i><b>62%</b></i></ngb-progressbar><br>
        </div>
    </div>
</div >