<div class="wrapper" style="background-color: rgb(56, 49, 45);">
  <div class="page-header page-header-xs" data-parallax="true" 
  style="background-image: url('https://images.unsplash.com/photo-1508615070457-7baeba4003ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'); background-position: bottom;">
  <div class="filter"></div>    
  <div class= "container">
        <div class="motto text-center">
          <h2 class="presentation-title">Welcome Peter!</h2>
        </div>
      </div>
  </div>
  <div style="padding: 1cm;"> 
    <h2 style="text-align: center; color: whitesmoke"><b>Courses</b></h2>
    <hr style="width: 50%;">
      <div class="row">
          <div class="col-lg-3 col-md-5 col-sm-6">
            <a href="#/fire-safety">
              <div class="card card-stats" style="height: 4cm; background-color: rgb(230, 153, 134);">
                <div class="card-body ">
                  <div class="media-body text-center">
                    <h3 class="success"  style="font-size: 30px">Fire Safety</h3>
                    <br>
                    <ngb-progressbar type="neutral" [value]="62" [striped]="true" [animated]="true"><i><b>62%</b></i></ngb-progressbar><br>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-5 col-sm-6">
            <div class="card card-stats" style="height: 4cm; background-color: rgb(159, 169, 182);">
              <div class="card-body ">
                <div class="media-body text-center">
                  <h3 class="success"  style="font-size: 30px;">School Shooter</h3>
                  <br>
                  <ngb-progressbar type="neutral" [value]="7" [striped]="true" [animated]="true"><i>17%</i></ngb-progressbar><br>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-5 col-sm-6">
            <div class="card card-stats" style="height: 4cm; background-color: rgb(224, 206, 183);">
              <div class="card-body ">
                <div class="media-body text-center">
                  <h3 class="success"  style="font-size: 30px">Torando Safety</h3>
                  <br>
                  <ngb-progressbar type="neutral" [value]="37" [striped]="true" [animated]="true"><i>33%</i></ngb-progressbar><br>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-5 col-sm-6">
            <div class="card card-stats" style="height: 4cm; background-color: rgb(180, 233, 200);">
              <div class="card-body ">
                <div class="media-body text-center">
                  <h3 class="success"  style="font-size: 30px">Lab Safety</h3>
                  <br>
                  <ngb-progressbar type="neutral" [value]="49" [striped]="true" [animated]="true"><i>49%</i></ngb-progressbar><br>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h2 style="text-align: center; color: whitesmoke"><b>Explore</b></h2>
    <hr style="width: 66%;">
        <div class="row">
          <div class="col-md-6">
            <div class="card" style="background-color: rgb(112, 109, 104);">
              <div class="card-header" style="background-color: rgb(80, 78, 74);">
                <h5 class="card-title" style="color: whitesmoke;"><b>Lab Equipment</b></h5>
                <p class="card-category" style="color: whitesmoke;">Click to View Model</p>
              </div>
              <div class="card-body ">
                <div class="row">
                  <div class="col-lg-4 col-md-5 col-sm-6">
                    <a href="https://console.echoar.xyz/samples/webar-chrome/sweet-leaf-9977_1596427907489/index_sweet-leaf-9977_1596427907489.html">
                      <div class="card card-stats" style="height: 4cm; background-color: rgb(245, 143, 143)">
                        <div class="card-body ">
                          <div class="media-body text-center">
                            <h3 class="success"  style="font-size: 30px">Erlenmeyer Flask</h3>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-md-5 col-sm-6">
                    <a>
                      <div class="card card-stats" style="height: 4cm; background-color: rgb(252, 159, 126)">
                        <div class="card-body ">
                          <div class="media-body text-center">
                            <h3 class="success"  style="font-size: 30px;">Pipette</h3>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-md-5 col-sm-6">
                    <a>
                      <div class="card card-stats" style="height: 4cm; background-color: rgb(245, 205, 130)">
                        <div class="card-body ">
                          <div class="media-body text-center">
                            <h3 class="success"  style="font-size: 30px">Test-Tube</h3>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-md-5 col-sm-6">
                    <a>
                      <div class="card card-stats" style="height: 4cm; background-color: rgb(245, 224, 130)">
                        <div class="card-body ">
                          <div class="media-body text-center">
                            <h3 class="success"  style="font-size: 30px">Test-Tube Rack</h3>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-md-5 col-sm-6">
                    <a href="https://console.echoar.xyz/samples/webar-chrome/sweet-leaf-9977_1596428451394/index_sweet-leaf-9977_1596428451394.html">
                      <div class="card card-stats" style="height: 4cm; background-color: rgb(248, 248, 116)">
                        <div class="card-body ">
                          <div class="media-body text-center">
                            <h3 class="success"  style="font-size: 30px">Beaker</h3>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-md-5 col-sm-6">
                    <a>
                      <div class="card card-stats" style="height: 4cm; background-color: rgb(178, 207, 121)">
                        <div class="card-body ">
                          <div class="media-body text-center">
                            <h3 class="success"  style="font-size: 30px">Bunsen Burner</h3>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-md-5 col-sm-6">
                    <a>
                      <div class="card card-stats" style="height: 4cm; background-color: rgb(109, 160, 109)">
                        <div class="card-body ">
                          <div class="media-body text-center">
                            <h3 class="success"  style="font-size: 30px">Microscope</h3>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-md-5 col-sm-6">
                    <a>
                      <div class="card card-stats" style="height: 4cm; background-color: rgb(142, 212, 197)">
                        <div class="card-body ">
                          <div class="media-body text-center">
                            <h3 class="success"  style="font-size: 30px">Thermometer</h3>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-md-5 col-sm-6">
                    <a href="https://console.echoar.xyz/samples/webar-chrome/sweet-leaf-9977_1596428358006/index_sweet-leaf-9977_1596428358006.html">
                      <div class="card card-stats" style="height: 4cm; background-color: rgb(138, 158, 248)">
                        <div class="card-body ">
                          <div class="media-body text-center">
                            <h3 class="success"  style="font-size: 30px">Tongs</h3>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-md-5 col-sm-6">
                    <a>
                      <div class="card card-stats" style="height: 4cm; background-color: rgb(215, 175, 252)">
                        <div class="card-body ">
                          <div class="media-body text-center">
                            <h3 class="success"  style="font-size: 30px">Graduated Cyclinder</h3>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-md-5 col-sm-6">
                    <a>
                      <div class="card card-stats" style="height: 4cm; background-color: rgb(243, 189, 243)">
                        <div class="card-body ">
                          <div class="media-body text-center">
                            <h3 class="success"  style="font-size: 30px">Balance Scale</h3>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-md-5 col-sm-6">
                    <a>
                      <div class="card card-stats" style="height: 4cm; background-color: rgb(243, 189, 219);">
                        <div class="card-body ">
                          <div class="media-body text-center">
                            <h3 class="success"  style="font-size: 30px">Dropper</h3>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <a href="https://www.flinnsci.com/api/library/Download/80efae9513b548d6999c31d38ac36abe">
              <div class="card" style="background-color: rgb(112, 109, 104);">
                <div class="card-header" style="background-color: rgb(80, 78, 74);">
                  <h5 class="card-title" style="color: whitesmoke;"><b>Flinn Safety Contract</b></h5>
                  <p class="card-category" style="color: whitesmoke;">Click to View In Another Page</p>
                </div>
                <div class="card-body ">
                  <iframe src="./assets/flinn.PDF" width="100%" height="678.5px">
                  </iframe>
                </div>
              </div>
            </a>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-8">
            <div class="card " style="background-color: rgb(112, 109, 104);">
              <div class="card-header "style="background-color: rgb(80, 78, 74);">
                <h5 class="card-title" style="color: whitesmoke;"><b>Incidents</b> </h5>
                <p class="card-category" style="color: whitesmoke;">Move through the map to find examples where school safety was jeopardized</p>
              </div>
              <div class="card-body ">
                <agm-map [zoom]="4" [latitude]="38.857178" [longitude]="-97.128809" [mapTypeId]="'terrain'" style="height: 400px;">
                  <agm-marker (mouseOver)="window.open()" (mouseOut)="window.close()" *ngFor="let marker of markers" [latitude]="marker.latitude"
                  [longitude]="marker.longitude">
                  <agm-info-window #window>
                    <h6 style="text-align: center;">{{marker.place}}</h6>
                    <p style="text-align: center;"> {{marker.description}}</p>
                  </agm-info-window>
                </agm-marker>
                </agm-map>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card " style="background-color: rgb(112, 109, 104);">
              <div class="card-header "style="background-color: rgb(80, 78, 74);">
                <h5 class="card-title" style="color: whitesmoke;"><b>Latest School & Safety News</b></h5>
                <p class="card-category" style="color: whitesmoke;">Scroll through the menu and click to read articles</p>
              </div>
              <div class="card-body">
                <div class="scrollable"  style="overflow-y: auto; max-height: 9cm;">
                  <div *ngFor="let article of mArticles">
                    <a href="{{article.url}}" >
                      <div class="card" style="padding-left: 20px; padding-top: 10px; background-color: rgb(231, 227, 221);">
                        <h6 class="card-title"><b><i class="fa fa-circle text-warning"></i>&nbsp; {{article.title}}</b></h6>
                        <p>{{article.description}}</p>
                      </div>  
                    </a>
                  </div>
                </div>
              </div>
            </div>
        </div>
  </div>
    
</div>
