<footer class="footer footer-black">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <!--<li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>-->
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    {{test | date: 'yyyy'}}, EduSafe
                </span>
            </div>
        </div>
    </div>
</footer>
